/* Import fonts */
@font-face {
	font-family: 'Pangram';
	src: url('assets/PPPlayground-Light.otf');
}

/* Normalize */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Pangram', sans-serif;
}

ul, ol, li {
	list-style-type: none;
}

/* Canvas style to prevent canvas overflow when filling entire screen. This is needed because of normalize.css library that codepen uses. */
body {
	background: #c5cdca;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	color: #fe0;
}

/* Page styles */
#heading {
	position: absolute;
	display: block;
	margin: auto;
	top: 0; bottom: 0;
	left: 0; right: 0;
	text-align: center;
	font-size: min(80vh, 56vw);
	height: calc(min(80vh, 56vw) * 1.23);
	font-weight: 300;
	/* text-shadow: 10px 2px 15px rgba(255,200,0, 0.5); */
}

#heading span {
	position: relative;
	pointer-events: none;
}

#heading span:first-child { z-index: 5; }
#heading span:nth-child(2) { z-index: 3; }
#heading span:nth-child(3) { z-index: 7; }
#heading span:nth-child(4) { z-index: 9; }
#heading span:nth-child(5) { z-index: 1; }

nav {
	z-index: 99;
	position: relative;
	width: 100%;
	padding: 24px;
}

nav ul {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

footer {
	z-index: 99;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 24px;
}

footer ul {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

li {
	cursor: pointer;
	font-family: sans-serif;
	color: #202020;
}

li:hover {
	text-decoration: line-through;
}